.componentWrapper {
    padding: 40px 40px;
}

.name {
    transform: translateX(20px) translateY(-50%);
    background-color: #fff;
    padding: 0 10px;
}

.description {
    padding-left: 20px;
}
.operations {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.editWrapper {
    position: relative;
}

.copyBtn {
    cursor: pointer;
    position: absolute !important;
    z-index: 1;
    top: 6px;
    right: 12px;
}
