.navs {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 80px;
    width: 200px;
    font-size: 14px;
    background-color: #fff;
}

.title {
    padding: 8px 30px;
}

.navItem {
    padding: 8px 30px;
    width: 100%;
}

.navItem:hover {
    color: #0B0D0E;
    background-color: #F3F6F9;
}

.navItem.selected {
    background-color: #F0F7FF;
    color: #0072E5;
}
